<!DOCTYPE html>
<html>
    <head>
        <title>VoteApp</title>
        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="/main.css" rel="stylesheet">
        <script src="/main.js" typ="text/javascript"></script>
        
    </head>
    <body>
        
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">VoteApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="<%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>"><a href="/polls">Home</a></li>
       <% if(currentUser) { %>
        <li class="<%= typeof page !== 'undefined' && page === 'new' ? 'active' : '' %>"><a href="/polls/new">New Poll</a></li>
        <% } %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <% if(!currentUser) { %>
          <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
        <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
       <% } else { %>
          <li><a href="#">Signed In as <%= currentUser.username %></a></li>
          <li><a href="/logout">Logout</a></li>
       <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        
